header {
  background-color: blue;
}

.mobile-flex-container {
  display: flex;
}

@media only screen and (min-width: 481px) {
  header {
    height: 100px;
  }
  
  .child-flex-container {
    display: flex;
  }
  
  .child-flex-container section {
    width: 760px;
    height: 200px;
  }

  aside {
    float: left;
    width: 200px;
    height: 600px;
  }
}