/* 
header {
  height: 100px;
  background-color: goldenrod;
}

.child-flex-container {
  display: flex;
}

.child-flex-container article {
  align-content: stretch;
  width: 190px;
  height: 250px;
  background-color: burlywood;
}

.child-flex-container section {
  width: 760px;
  height: 200px;
  background-color: grey;
}

aside {
  float: left;
  width: 200px;
  height: 600px;
  background-color: maroon;
}

.parent-flex-container #last {
  display: flex;
  height: 150px;
  background-color: turquoise;
}
  */