@media all and (max-width: 480px) {
  body {
    width: 480px;
  }

  header {
    height: 75px;
  }

  aside {
    height: 150px;
    background-color: seagreen;
  }

  article {
    width: 240px;
    height: 250px;
    background-color: orange;
  }

  section {
    height: 125px;
    background-color: pink;
  }

  #last {
    height: 80px;
  }
}

@media all and (min-width: 481px) {
  header {
    height: 100px;
    background-color: goldenrod;
  }

  .child-flex-container {
    display: flex;
  }

  .child-flex-container article {
    align-content: stretch;
    width: 190px;
    height: 250px;
    background-color: burlywood;
  }
  
  .child-flex-container section {
    width: 760px;
    height: 200px;
    background-color: grey;
  }

  aside {
    float: left;
    width: 200px;
    height: 600px;
    background-color: maroon;
  }

  .parent-flex-container #last {
    display: flex;
    height: 150px;
    background-color: turquoise;
  }
}