/* when breaking at mobile, everything but article elements are at 480px width */
/* article elements will be 280px width */

@media all and (max-width: 480px) {
  body {
    width: 480px;
  }

  header {
    height: 75px;
  }

  aside {
    height: 150px;
  }

  article {
    width: 240px;
    height: 250px;
  }

  section {
    height: 125px;
  }

  #last {
    height: 80px;
  }
}

@media all and (min-width: 481px) {
  header {
    height: 100px;
  }

  .child-flex-container {
    display: flex;
  }

  .child-flex-container article {
    align-content: stretch;
    width: 190px;
    height: 250px;
  }
  
  .child-flex-container section {
    width: 760px;
    height: 200px;
  }

  aside {
    float: left;
    width: 200px;
    height: 600px;
  }

  .parent-flex-container #last {
    display: flex;
    height: 150px;
  }
}