/* when breaking at mobile, everything but article elements are at 480px width */
/* article elements will be 280px width */

@media all and (max-width: 480px) {
  body {
    width: 480px;
  }

  header {
    height: 75px;
  }

  aside {
    height: 150px;
  }

  article {
    width: 240px;
    height: 250px;
  }

  section {
    height: 125px;
  }

  #last {
    height: 80px;
  }
}